:root {
    --color1: #205373;
    --color2: #223440;
    --color3: #4E8DA6;
    --color4: #5BC2D9;
    --color5: #BFA29B;
    --color6: #0f0f0f;
    --color7: #ebebeb;
    --color8: #367356b6;
    --color9: #60BF81;
    --color10: #de04218c;
    --color11: #a50319;
    --font: "Nunito";
}

* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: var(--font);
}

#title nav,
ul,
li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--color3);
    color: var(--color7);
    font-size: 20px;
    font-weight: 700;
    height: 60px;
}

#logout{
    cursor: pointer;
    padding-right: 15px;
}

#logout:hover{
    text-decoration: underline;
}

#home {
    color: var(--color3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

@media (max-width: 570px) {
    #home {
        font-size: 40px;
    }
}

@media (max-width: 450px) {
    #home {
        font-size: 30px;
    }
}

@media (max-width: 340px) {
    #home {
        font-size: 20px;
    }
}