:root {
    --color1: #205373;
    --color2: #223440;
    --color3: #4E8DA6;
    --color4: #5BC2D9;
    --color5: #BFA29B;
    --color6: #0f0f0f;
    --color7: #ebebeb;
    --color8: #367356b6;
    --color9: #60BF81;
    --color10: #de04218c;
    --color11: #a50319;
    --font: "Nunito";
}

* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: var(--font);
}

.container-items button[type="submit"] {
    margin-top: 20px;
}

#container-form #container-back {
    margin-bottom: 30px;
}

#container-form .message-success,
.message-error {
    display: flex;
    flex-direction: column;
    color: var(--color7);
    text-align: center;
    margin-bottom: 20px;
}

.message-error p {
    border: 1px solid var(--color11);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--color10);
    margin-bottom: 5px;
}

.message-success p {
    border: 1px solid var(--color9);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--color8);
}

.container-items,
label input {
    display: flex;
    justify-content: space-between;
}


.container-items input {
    margin-left: 15px;
}

.container-items button {
    margin: 0 auto;
}

#container-back a img {
    width: 15%;
    border-radius: 50%;
}

@media (max-width: 700px) {
    #container-info {
        font-size: 33px;
    }
}

@media (max-width: 550px) {

    #container-info {
        font-size: 25px;
    }
}

@media (max-width: 490px) {

    .message-success,
    .message-error {
        width: 100%;
        font-size: 12px;
    }

    #container-info {
        font-size: 20px;
    }

    .container-items input::placeholder {
        font-size: 12px;
    }
}

@media (max-width:380px) {
    .container-items button[type="submit"] {
        margin-top: 0px;
    }

    #container-form #container-back {
        margin-bottom: 15px;
    }

    .message-success,
    .message-error {
        width: 100%;
        font-size: 12px;
    }

    .message-error p {
        padding: 2.5px;
    }

    #container-info {
        font-size: 15px;
    }
}

@media (max-width: 330px) {
    .container-items button[type="submit"] {
        margin-top: -5px;
        font-size: 11px;
    }

    #container-form #container-back {
        margin-bottom: 5px;
        margin-top: -10px;
    }

    .message-success,
    .message-error {
        width: 100%;
        font-size: 11px;
    }

    .message-error p {
        padding: 0.5px;
    }

    #container-form {
        width: 210px;
    }

    #container-info {
        width: 79px;
        font-size: 13px;
    }

    .container-items,
    label input {
        padding-bottom: 10px;
    }
    
    .container-items button {
        margin: 0 auto;
    }

    .container-items input {
        width: 100px;
    }

    .container-items input::placeholder {
        font-size: 9px;
    }
}